<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>NCapas</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0"
          th:href="@{/assets/css/shards-dashboards.1.1.0.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/extras.1.1.0.min.css}">
    <script async defer src="https://buttons.github.io/buttons.js"></script>

</head>
<body>
<aside th:replace="navbars/admin::navbar(' active','','','')"></aside>
<main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
<div class="main-content-container container-fluid px-4">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Overview</span>
            <h3 class="page-title">Account tables</h3>
            <br>
            <a class="btn btn-primary button-active" th:href="@{/dashboard-account}">
                <i class="fa fa-arrow-left mr-2 ml-2" ></i>Go back</a>
        </div>
    </div>
    <div class="row justify-content-center px-4" >
        <div class="col">
            <div class="col-sm-12 col-md-10 col-lg-7 p-4 mb-4 card ml-auto mr-auto">
                <h2 class="text-center mb-5">Register</h2>
                <form th:object="${adminRegisterForm}" th:action="@{/account/admin/create}" method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="givename" class="col-form-label">Given names</label>
                            <div class="input-group input-group-seamless">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-edit"></i>
                                    </div>
                                </div>
                                <input id="givename" type="text" class="form-control"
                                       th:field="*{name}"/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastname" class="col-form-label">Last Names</label>
                            <div class="input-group input-group-seamless">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-edit"></i>
                                    </div>
                                </div>
                                <input id="lastname" type="text" class="form-control"
                                       th:field="*{lastName}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                              class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                              class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="username" class="col-form-label">Username</label>
                            <div class="input-group input-group-seamless">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>
                                <input id="username" class="form-control"  th:field="*{username}"/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">

                            <label for="password" class="col-form-label">Password</label>
                            <div class="input-group input-group-seamless">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-key"></i>
                                    </div>
                                </div>
                                <input id="password" type="password" class="form-control"
                                       th:field="*{password}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                              class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                              class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="dateBirth" class="col-form-label">Date of Birth</label>
                            <div class="input-group input-group-seamless">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-calendar-plus"></i>
                                    </div>
                                </div>
                                <input id="dateBirth" type="text" class="form-control"
                                       th:field="*{dateBirth}"/>
                            </div>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="role" class="col-form-label">Account role</label>
                            <select id="role" class="custom-select"
                                    th:field="*{accRole}">
                                <option th:value="null">Select a movie</option>
                                <option th:value="1">Admin</option>
                                <option th:value="2">Client</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                        <span th:if="${#fields.hasErrors('dateBirth')}" th:errors="*{dateBirth}"
                              class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                        <span th:if="${#fields.hasErrors('accRole')}" th:errors="*{accRole}"
                              class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="state" class="col-form-label">State</label>
                            <select id="state" class="custom-select" onchange="giveSelection(this.value)">
                                <option th:each="sta: ${states}" th:value="${sta.staId}" th:text="${sta.staName}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="province" class="col-form-label">Province</label>
                            <select id="province" class="custom-select"
                                    th:field="*{proId}">
                                <option th:each="pro : ${provinces}" th:value="${pro.proId}"
                                        th:data-option="${pro.state.staId}" th:text="${pro.proName}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                        <span th:if="${#fields.hasErrors('proId')}" th:errors="*{proId}"
                              class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="form-group">
                                <label for="address">Address</label>
                                <textarea th:field="*{address}" id="address" class="form-control mb-4" rows="5"
                                          placeholder="Enter your address..." name="message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                              class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex">
                            <input class="btn btn-primary btn-pill d-flex ml-auto mr-auto" type="submit" value="Register" />
                        </div>
                    </div>
                </form>
            </div>
    </div>
    </div>
</div>
</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/assets/js/shards.js}"></script>
<script>

    var sel1 = document.querySelector('#state');
    var sel2 = document.querySelector('#province');
    var options2 = sel2.querySelectorAll('option');

    function giveSelection(selValue) {
        sel2.innerHTML = '';
        for(var i = 0; i < options2.length; i++) {
            if(options2[i].dataset.option === selValue) {
                sel2.appendChild(options2[i]);
            }
        }
    }

    giveSelection(sel1.value);
    window.onload = function() {
        $('#dateBirth').datepicker({
            maxDate: new Date(),
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });
    };
</script>
</body>
</html>