<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>NCapas</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0"
          th:href="@{/assets/css/shards-dashboards.1.1.0.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/extras.1.1.0.min.css}">
    <script async defer src="https://buttons.github.io/buttons.js"></script>

</head>
<body>
<aside th:replace="navbars/admin::navbar('','',' active')"></aside>
<main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
    <div class="main-content-container container-fluid px-4">
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">Listing tables</h3>
                <br>
                <a class="btn btn-primary button-active" th:href="@{/dashboard-movie}">
                    <i class="fa fa-arrow-left mr-2 ml-2" ></i>Go back</a>
            </div>
        </div>
        <div class="row justify-content-center px-4" >
            <div class="col">
                <div class="col-sm-12 col-md-10 col-lg-7 p-4 mb-4 card ml-auto mr-auto">
                    <h2 class="text-center mb-5">Add function</h2>
                    <form th:object="${listingForm}" th:action="@{/listing/create}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6 ">
                                <label for="movie" class="col-form-label">Province</label>
                                <select id="movie" class="custom-select"
                                        th:field="*{movId}">
                                    <option th:value="null">Select a movie</option>
                                    <option th:each="mov : ${movies}" th:value="${mov.movId}"
                                             th:text="${mov.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                        <span th:if="${#fields.hasErrors('movId')}" th:errors="*{movId}"
                              class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6 ">
                                <label for="format" class="col-form-label">Format Type</label>
                                <select id="format" class="custom-select"
                                        th:field="*{formatType}">
                                    <option th:value="null">Select a format</option>
                                    <option value="2D Sub">2D Sub</option>
                                    <option value="2D Dub">2D Dub</option>
                                    <option value="3D Sub">3D Sub</option>
                                    <option value="3D Dub">3D Dub</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 ">
                                <label for="startTime" class="col-form-label">Start time</label>
                                <div class="input-group input-group-seamless">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-clock"></i>
                                        </div>
                                    </div>
                                    <input id="startTime" class="form-control"  type="time" th:field="*{startTime}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <span th:if="${#fields.hasErrors('formatType')}" th:errors="*{formatType}"
                              class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <span th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"
                                      class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 ">
                                <label for="avaiSeats" class="col-form-label">Available seats</label>
                                <div class="input-group input-group-seamless">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-chair"></i>
                                        </div>
                                    </div>
                                    <input id="avaiSeats" class="form-control"  type="number" th:field="*{avaiSeats}"/>
                                </div>
                            </div>
                            <div class="form-group col-md-4 ">
                                <label for="entryFee" class="col-form-label">Entry fee</label>
                                <div class="input-group input-group-seamless">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-dollar-sign"></i>
                                        </div>
                                    </div>
                                    <input id="entryFee" class="form-control"  type="number" th:field="*{avaiSeats}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <span th:if="${#fields.hasErrors('avaiSeats')}" th:errors="*{avaiSeats}"
                                      class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <span th:if="${#fields.hasErrors('entryFee')}" th:errors="*{entryFee}"
                                      class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 d-flex">
                                <input class="btn btn-primary btn-pill d-flex ml-auto mr-auto" type="submit" value="Create" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/assets/js/shards.js}"></script>
</body>
</html>