<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NCapas</title>
    <meta name="description"
          content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0"
          th:href="@{/assets/css/shards-dashboards.1.1.0.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/extras.1.1.0.min.css}">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body>

<main class="main-content col-lg-12 col-md-2 col-sm-12 p-0 ">
    <div th:replace="navbars/top-bar-client::navbar(${money})"></div>
    <div class="main-content-container container-fluid px-4 mt-2">
        <div class="row justify-content">
            <div class="col-md-4 col-lg-4 ml-auto">
                <div class="card card-small mb-4" style="width: 20rem;">
                    <img src="..." class="card-img-top" th:src="${movie.imageUrl}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${movie.name}"></h4>
                        <p class="card-text" th:text="${movie.description}"></p>
                    </div>
                </div>
                <p><a th:href="@{/dashboard-client}" class="btn btn-primary">
                    <i class="fas fa-arrow-left ml-2 mr-2"></i>Back</a></p>
            </div>
            <div class="col-md-6 col-log-6 mr-auto" th:switch="${#lists.isEmpty(listing)}">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Billboard available</h6>
                </div>
                <ul th:case="true" class="list-group list-group-flush">
                    <li class="custom-controls-stacked list-group-item p-2">
                        <h4 class="m-0 p-2">Not available yet</h4>
                    </li>
                </ul>
                <ul th:case="*" id="functionTable" class="list-group list-group-flush" >
                    <li th:each="lis : ${listing}" class="custom-controls-stacked list-group-item p-2 active-listing" >
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-2 col-lg-2">
                                            <label class="col-form-label">Mark movie</label>
                                            <button type="button" th:value="${lis.lisId}"  class="btn btn-primary button-active verify">
                                                <i class="far fa-circle"></i><!--<i class="fas fa-check"></i>-->
                                            </button>
                                        </div>
                                        <div class="col-md-2 col-lg-3">
                                            <strong class="text-muted d-block mb-2">Available seats</strong>
                                            <span th:text="${lis.avaiSeats}"></span>
                                        </div>
                                        <div class="col-md-2 col-lg-2">
                                            <strong class="text-muted d-block mb-2">Start time</strong>
                                            <span th:text="${lis.startTime}"></span>
                                        </div>
                                        <div class="col-md-2 col-lg-2">
                                            <strong class="text-muted d-block mb-2">Entry fee</strong>
                                            <span th:text="${'$'+lis.entryFee}"></span>
                                        </div>
                                        <div class="col-md-2 col-lg-3">
                                            <strong class="text-muted d-block mb-2">Format type</strong>
                                            <span th:text="${lis.formatType}"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                    </li>
                    <form th:object="${reservationForm}"
                          th:action="@{/movie/{movId}/reservation/new(movId=${movie.movId})}" method="post">
                        <input th:field="*{referenceId}" type="hidden" name="lisId" id="secret" th:value="0">
                        <li class="list-group-item p-2">
                            <div class="row">
                                <div class="col-md-2 col-lg-2 ml-auto mr-auto">
                                    <label>Selected</label>
                                    <div class="input-group">
                                        <input class="form-control" type="text" th:id="target" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4">
                                    <label>Credit to use</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input th:field="*{creditUse}" id="credit" type="number" class="form-control"
                                               placeholder="Credit to use"
                                               aria-label="Credit to use" aria-describedby="basic-addon2">
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 mr-auto ">
                                    <label>Number of seats</label>
                                    <div class="input-group">
                                        <input th:field="*{resSeats}" id="reserve" type="number" class="form-control"
                                               placeholder="Number of seats" aria-label="Number of seats"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit">Receipt</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 m-0 text-center">
                                    <span th:if="${#fields.hasErrors('resSeats')}" th:errors="*{resSeats}"
                                          class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-12 m-0 text-center">
                                    <span th:if="${#fields.hasErrors('referenceId')}" th:errors="*{referenceId}"
                                          class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-12 m-0 text-center">
                                    <span th:if="${#fields.hasErrors('creditUse')}" th:errors="*{creditUse}"
                                          class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-12 m-0 text-center">
                                    <span th:text="${error}" class="text-danger"></span>
                                </div>
                            </div>
                    </li>
                    </form>
                </ul>
            </div>
        </div>
    </div>

</main>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script th:src="@{/assets/js/shards.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
<script type="text/javascript"  th:src="@{/assets/js/extras.1.1.0.min.js}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#barSearch').keyup(function(){
            search_table($(this).val());
        });
        function search_table(value){
            $('#functionTable .active-listing').each(function(){
                var found = 'false';
                $(this).each(function(){
                    if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                    {
                        found = 'true';
                    }
                });
                if(found == 'true')
                {
                    $(this).show();
                }
                else
                {
                    $(this).hide();
                }
            });
        }
    });
</script>
<script  th:inline="javascript">

    var target = $("#target");
    var secret = $("#secret");
    var all = document.querySelectorAll(".verify");

    $(document).ready(function () {
        var value = secret.val();
        target.attr('value', value);
    });

    $('.verify').click(function(){
        var object = $(this);
        var value = $(this).val();
        all.forEach(function (element){
            if(element!=object){
           element.className = "btn btn-primary button-active verify";
           element.children[0].className = "far fa-circle";
            }
        });
        target.attr('value', value);
        secret.attr('value', value);

        object.removeClass();
        object.addClass("btn btn-success button-active verify");
        object.children()[0].className = "fas fa-check";

    });
</script>
</body>
</html>
